<div class="preview">
  <span class="text-secondary badge badge-default badge-pill pull-right">{{edit}}</span>
      {{#if writtenId}}
      <small>{{writtenId}}</small>
      {{/if}}
      <span class="member">
      <h4>
      {{Member}}
      <small>({{Party}})  {{State}},   {{District}}
      </small>
    </h4>
    <ul class="list-inline list-inline-separated">
      {{#if Date}}
      <li>{{Date}}
      </li>
      {{/if}}
      {{#if Time}}
      <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}  </li>
      {{/if}}
      {{#if timeEnd}}
      <li>- {{timeEnd}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
      {{/if}}
      {{#if timeStart24}}
      <li><em>(24 Hour Time: {{timeStart24}}-{{timeEnd24}})</em></li>
      {{/if}}
      {{#if eventName}}
      <li>{{eventName}}</li>
      {{/if}}
      {{#if Location}}
      <li>{{Location}}</li>
      {{/if}}
      <li>{{address}}</li>
      {{#if phoneNumber}}
      <li>{{phoneNumber}}</li>
      {{/if}}
      {{#if RSVP}}
      <li>{{{RSVP}}}</li>
      {{/if}}
      {{#if Notes}}
      <li>{{{Notes}}}</li>
      {{/if}}
    </ul>
</div>
