<li id="{{eventId}}" class="event-row list-group-item ">
  <span class="text-secondary pull-right">Edit event</span>
  <form class="form-inline " id="{{eventId}}-form">
    <div class="form-group meta-data">
      <strong>
        <div class=" col-md-4">
          <input type="text" class="state-info-text pull-left" readonly value="{{eventId}}">
        </div>
        <div class="col-md-4">
          <input type="text" class="timestamp " id="lastUpdated" readonly {{#if lastUpdatedHuman}} value="{{lastUpdatedHuman}}"{{/if}}{{#unless lastUpdatedHuman}}value="{{lastUpdated}}"{{/unless}}>
        </div>
        {{#if updatedBy}}
        <div class="col-md-4">
          <input type="text" class="" id="updatedBy" readonly value="{{updatedBy}}">
        </div>
        {{/if}}
        {{#if enteredBy}}
        <div class="form-group col-md-4">
          <label for="enteredBy">Submitted By:</label>
          <input type="text" class="" id="enteredBy" readonly value="{{enteredBy}}">
        </div>
        {{/if}}
      </strong>
    </div>
    <div class="main-data">
      <div class="form-group">
        <label class="sr-only" for="Member">Member</label>
        <input type="text" class="form-control" id="Member" placeholder="Member" value="{{Member}}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="District">District</label>
        <input type="text" class="form-control" id="District" placeholder="District (eg OH-08)" value="{{District}}">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="..." id="meetingType" value="{{meetingType}}" readonly>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a data-value="Town Hall" href="#">Town Hall</a></li>
            <li><a data-value="Tele-Town Hall" href="#">Tele-Town Hall</a></li>
            <li><a data-value="Ticketed Event" href="#">Ticketed Event</a></li>
            <li><a data-value="Empty Chair Town Hall" href="#">Empty Chair Town Hall</a></li>
            <li><a data-value="Hearing" href="#">Hearing</a></li>
            <li><a data-value="Coffee" href="#">Coffee</a></li>
            <li><a data-value="Office Hours" href="#">Office Hours</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>
    <div class="location-data">
      <div class="form-group">
        <label class="sr-only" for="Location">Location</label>
        <input type="text" class="form-control" id="Location" placeholder="Location" value="{{Location}}">
      </div>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Address" id="address" value="{{address}}">
          <span class="input-group-btn">
            <button class="btn btn-default disabled" type="button" id="geocode-button">GeoCode!</button>
          </span>
      </div><!-- /input-group -->
      <div class="form-group">
        <label class="sr-only" for="addressType">Address Type</label>
        <input type="text" class="" id="addressType" placeholder="Address type" value="street" readonly>
      </div>

      <div class="form-group">
        <label class="sr-only" for="locationCheck">Location Check</label>
        <input type="text" class="text-success" id="locationCheck" placeholder="please geocode" {{#if lat}}value="Location is valid"{{/if }} readonly>
      </div>
    </div>
    <div class="time-data">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="date-string" {{#if repeatingEvent}}checked{{/if}}>
          <span class="checkbox-label">Repeating event (eg. 'First Wed')</span>
        </label>
      </div>
      <div class="form-group">
        <label class="sr-only" for="yearMonthDay">Date</label>
        <input type="date" class="form-control datetime date" id="yearMonthDay" placeholder="Date" value="{{yearMonthDay}}">
      </div>
      <div class="form-group {{#unless repeatingEvent}}hidden{{/unless}} repeating">
        <label class="sr-only" for="repeatingString">Repeating Event</label>
        <input type="text" class="form-control" id="repeatingEvent" placeholder="Eg. First Tuesday of the month" value="{{repeatingEvent}}">
      </div>
      <div class="form-group">
        <label for="Time">Start Time (HH:MM AM/PM)</label>
        <input type="time" class="form-control datetime" id="timeStart24" placeholder="Start Time" value="{{timeStart24}}">
      </div>
      <div class="form-group">
        <label for="endTime">End Time (HH:MM AM/PM)</label>
        <input type="time" class="form-control datetime" id="timeEnd24" placeholder="End Time" value="{{timeEnd24}}">
      </div>
      <div class="form-group">
        <label class="sr-only" for="dateChanged">Date Changed Flag</label>
        <input type="hidden" class="form-control" id="dateChanged" placeholder="" value="true" readonly>
      </div>
    </div>
    <div class="extra-data">
      <div class="form-group">
        <label for="link">URL related to event (optional)</label>
        <input type="url" class="form-control" id="link" placeholder="Link" value="{{link}}">
      </div>
      <div class="form-group">
        <label  for="linkName">Link name (optional)</label>
        <input type="text" class="form-control" id="linkName" placeholder="Link Name" value="{{linkName}}">
      </div>
    </div>
    <div class="notes-data">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="Notes">Notes</label>
            <textarea class="form-control" id="Notes" placeholder="Notes about event that cannot be entered anywhere else." rows=3>{{Notes}}</textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="btn-group " role="group" aria-label="...">
        <button type="button" class="btn btn-blue " id="archive" data-id="{{eventId}}" data-toggle="tooltip" data-placement="top" title="For events that occured but are in the past">Archive</button>
        <button type="button" class="btn btn-secondary " id="delete" data-id="{{eventId}}" data-path="townHalls" data-toggle="tooltip" data-placement="top" title="For events that were canceled or wrong">Delete</button>
        <button type="submit" class="btn" id="update-button">Update</button>
      </div>
    </div>
  </div>
  </form>
  <div class="preview">
    <span class="text-secondary pull-right">Preview</span>
        <span class="member">
        <h4>
        {{Member}}
        <small>({{Party}})  {{State}},   {{District}}
        </small>
      </h4>
      <span class="badge badge-default badge-pill pull-right">  {{meetingType}}</span>
      </span>
      <ul class="list-inline list-inline-separated">
        {{#if Date}}
        <li>{{Date}}
        </li>
        {{/if}}
        {{#if Time}}
        <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
        {{/if}}
        {{#if timeEnd}}
        <li>- {{timeEnd}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
        {{/if}}
        {{#if eventName}}
        <li>{{eventName}}</li>
        {{/if}}
        {{#if Location}}
        <li>{{Location}}</li>
        {{/if}}
        <li>{{address}}</li>
        {{#if phoneNumber}}
        <li>{{phoneNumber}}</li>
        {{/if}}
        {{#if RSVP}}
        <li>{{{RSVP}}}</li>
        {{/if}}
        {{#if Notes}}
        <li>{{{Notes}}}</li>
        {{/if}}
      </ul>
  </div>
</li>
