<form class="form " id="{{eventId}}-form">
  <div class="form-group">
    <strong>
      <input type="text" class="state-info-text pull-left" readonly value="{{eventId}}">
      <input type="text" class="timestamp pull-left" id="lastUpdated" readonly value="{{lastUpdatedHuman}}">
      {{#if updatedBy}}
      <input type="text" class="pull-left" id="updatedBy" readonly value="{{updatedBy}}">
      {{/if}}
    </strong>
  </div>
  <div class="main-data">
    <div class="form-group">
      <label class="sr-only" for="Member">Member</label>
      <input type="text" class="form-control" id="Member" placeholder="Member" value="{{Member}}">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" aria-label="..." id="meetingType" value="{{meetingType}}" readonly>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a data-value="Town Hall" href="#">Town Hall</a></li>
          <li><a data-value="Tele-Town Hall" href="#">Tele-Town Hall</a></li>
          <li><a data-value="Ticketed Event" href="#">Ticketed Event</a></li>
          <li><a data-value="Empty Chair Town Hall" href="#">Empty Chair Town Hall</a></li>
          <li><a data-value="Campaign Town Hall" href="#">Campaign Town Hall</a></li>
          <li><a data-value="Hearing" href="#">Hearing</a></li>
          <li><a data-value="Coffee" href="#">Coffee</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div>
  <div class="adopter-data non-standard hidden">
    <div class="form-group col-md-12" id="adopter-member-form-group">
      <label for="districtAdopter">MOC appearing at event (adopter)</label>
      <input type="text" class="form-control input-underline" id="districtAdopter" placeholder="Full name" value="" autocomplete="off">
      <span id="adopter-member-help-block" class="help-block">Only first name and last name, not titles</span>
    </div>
  </div>
  <div class="location-data">
    <div class="form-group">
      <label class="sr-only" for="Location">Location</label>
      <input type="text" class="form-control" id="Location" placeholder="Location" value="{{Location}}">
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Address" id="address" value="{{address}}">
        <span class="input-group-btn">
          <button class="btn btn-default disabled" type="button" id="geocode-button">GeoCode!</button>
        </span>
    </div><!-- /input-group -->
    <div class="form-group">
      <label class="sr-only" for="addressType">Address Type</label>
      <input type="text" class="" id="addressType" placeholder="Address type" value="street" readonly>
    </div>
    <div class="form-group">
      <label class="sr-only" for="locationCheck">Location Check</label>
      <input type="text" class="text-success" id="locationCheck" placeholder="please geocode" {{#if lat}}value="Location is valid"{{/if }} readonly>
    </div>
  </div>
  <div class="time-data">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="date-string">
        <span class="checkbox-label">Click for repeating event (eg. 'First Wed')</span>
      </label>
    </div>
    <div class="form-group">
      <label class="sr-only" for="yearMonthDay">Date</label>
      <input type="date" class="form-control datetime date" id="yearMonthDay" placeholder="Date" value="{{yearMonthDay}}">
    </div>
    <div class="form-group hidden repeating">
      <label class="sr-only" for="repeatingString">Repeating Event</label>
      <input type="text" class="form-control" id="repeatingEvent" placeholder="Eg. First Tuesday of the month" value="{{repeatingEvent}}">
    </div>
    <div class="form-group">
      <label for="Time">Start Time (HH:MM AM/PM)</label>
      <input type="time" class="form-control datetime" id="timeStart24" placeholder="Start Time" value="{{timeStart24}}">
    </div>
    <div class="form-group">
      <label for="endTime">End Time (HH:MM AM/PM)</label>
      <input type="time" class="form-control datetime" id="timeEnd24" placeholder="End Time" value="{{timeEnd24}}">
    </div>
    <div class="form-group">
      <label class="sr-only" for="dateChanged">Date Changed Flag</label>
      <input type="hidden" class="form-control" id="dateChanged" placeholder="" value="true" readonly>
    </div>
  </div>
  <div class="extra-data">
    <div class="form-group">
      <label for="link">URL related to event (optional)</label>
      <input type="url" class="form-control" id="link" placeholder="Link" value="{{link}}">
    </div>
    <div class="form-group">
      <label  for="linkName">Link name (optional)</label>
      <input type="text" class="form-control" id="linkName" placeholder="Link Name" value="{{linkName}}">
    </div>
  </div>
  <div class="extra-data">
    <div class="form-group">
      <label for="Notes">Notes</label>
      <textarea class="form-control" id="Notes" placeholder="Notes about event that cannot be entered anywhere else." rows=3>{{Notes}}</textarea>
    </div>
  </div>
  <div class="text-center">
      <div class="btn-group " role="group" aria-label="...">
        <button type="button" class="btn btn-blue " id="archive" data-id="{{eventId}}">Archive</button>
        <button type="button" class="btn btn-secondary " id="delete" data-id="{{eventId}}">Delete</button>
        <button type="submit" class="btn" id="update-button">Update</button>
      </div>
    </div>
  </div>
</form>
