<li class="submitted list-group-item">
      <span class="member">
      <h4>
      {{Member}}
      <small>({{Party}})  {{State}},   {{District}}
      </small>
    </h4>
    <span class="badge badge-default badge-pill pull-right">  {{meetingType}}</span>
    </span>
    <ul class="list-inline list-inline-separated">
      {{#if Date}}
      <li>{{Date}}
      </li>
      {{/if}}
      {{#if Time}}
      <li>{{Time}}{{#if timeZone}}, {{timeZone}}{{/if}}  </li>
      {{/if}}
      {{#if timeEnd}}
      <li>- {{timeEnd}}{{#if timeZone}}, {{timeZone}}{{/if}}</li>
      {{/if}}
      {{#if eventName}}
      <li>{{eventName}}</li>
      {{/if}}
    </ul>
</li>
